body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --typography-desktop-h6: Poppins;

  /* font sizes */
  --typography-desktop-h6-size: 16px;
  --typography-desktop-button-m-size: 14px;
  --typography-desktop-button-xs-size: 10px;
  --typography-desktop-caption-s-size: 12px;
  --typography-desktop-h5-size: 20px;
  --typography-desktop-h4-size: 24px;
  --typography-desktop-h3-size: 32px;

  /* Colors */
  --neutral-100: #f9f9f9;
  --neutral-200: #efefef;
  --neutral-black: #000;
  --neutral-300: #d9d9d9;
  --primary-500: #07689f;
  --neutral-white: #fff;
  --neutral-500: #565656;
  --neutral-400: #a6a6a6;
  --state-colour-error-dark: #a80102;
  --state-colour-error-light: #e5062e;
  --state-colour-success: #4c9839;
  --state-colour-success-light: #e8f5e4;
  --primary-600: #043e5f;

  /* Gaps */
  --gap-0: 0px;
  --gap-base: 16px;
  --gap-5xl: 24px;
  --gap-9xs: 4px;
  --gap-13xl: 32px;
  --gap-5xs: 8px;
  --gap-sm: 14px;
  --gap-3xs: 10px;

  /* Paddings */
  --padding-5xs: 8px;
  --padding-base: 16px;
  --padding-9xs: 4px;
  --padding-11xs: 2px;
  --padding-3xs: 10px;
  --padding-2xs: 11px;
  --padding-4xs: 9px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-7xs: 6px;
  --br-9xs: 4px;
  --br-11xs: 2px;
  --br-xl: 20px;
  --br-81xl: 100px;
  --br-11xl: 30px;
  --br-13xl: 32px;
}
